.header {
    background-color: lightblue;
    border: 1px;
    border-radius: 0px;
    color: white;
    padding: 0.5em
}

.title {
    text-align: center;
}

.login {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

.login a {
    margin-right: 20px;
}

.search-bar {
    width: 700px;
    margin-left: 200px;
    margin-top: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    background: gray;
    border: 0;
    border-radius: 0;
    color: white;
    padding: 0.5em;
    width: 100%;
}

.footer p {
    text-align: center;
}